body,
html {
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;  
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 14px;
}